@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

html.item,
body.item {
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 678px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  position: relative;
}

.header {
  position: fixed;
  background-color: #f7f7f7;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.item {
  background-color: #fff;
  z-index: 10000;
}

.header__like {
  padding: 1rem;
  max-width: 3.5rem;
  border-radius: 50%;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__like.active {
  background-color: #f7545c;
  -webkit-box-shadow: -3px 10px 15px rgba(247, 84, 92, 0.4);
          box-shadow: -3px 10px 15px rgba(247, 84, 92, 0.4);
}

.header__like.active svg path {
  fill: #fff;
}

.header__like svg {
  display: block;
  width: 100%;
  height: auto;
}

.header__like svg path {
  fill: #b8bac9;
}

.header__menu {
  max-width: 2.5rem;
  width: 100%;
}

.header__menu img {
  width: 100%;
  height: auto;
}

.header__logo {
  font-size: 2.7rem;
  font-family: serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #4a50af;
}

.header__logo--blue {
  color: #afdff5;
}

.header__search {
  max-width: 2.5rem;
  width: 100%;
}

.header__search img {
  width: 100%;
  height: auto;
}

.main {
  padding-top: 8rem;
  padding-bottom: 5.5rem;
}

.main.item {
  padding-bottom: 3.5rem;
}

.main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__cards__item {
  width: 46.5%;
  background-color: #fff;
  border-radius: 2.5rem;
  margin-bottom: 3rem;
}

.main__cards__item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.main__cards__item__head__discount {
  font-weight: 600;
}

.main__cards__item__head__discount__item {
  border-radius: .6rem;
  font-size: 1.1rem;
  background-color: #a3def8;
  padding: .4rem .5rem;
}

.main__cards__item__head__like {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main__cards__item__head__like.active {
  background-color: #f7545c;
}

.main__cards__item__head__like.active svg path {
  fill: #fff;
}

.main__cards__item__head__like svg {
  display: block;
  max-width: 15px;
  height: auto;
}

.main__cards__item__head__like svg path {
  fill: #b8bac9;
}

.main__cards__item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3rem 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__cards__item__body__photo {
  background-color: #fddfce;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 2rem;
}

.main__cards__item__body__photo__item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: auto;
}

.main__cards__item__body__photo__item--sneakers {
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  max-width: 100px;
}

.main__cards__item__body__photo__item--watches {
  -webkit-transform: translate(-48%, -50%);
          transform: translate(-48%, -50%);
  max-width: 45px;
}

.main__cards__item__body__photo__item--backpackes {
  -webkit-transform: translate(-48%, -50%);
          transform: translate(-48%, -50%);
  max-width: 40px;
}

.main__cards__item__body__photo__mask {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.main__cards__item__body__name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #6a6f9d;
  margin-bottom: .5rem;
}

.main__cards__item__body__price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #545ab4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1rem;
}

.main__cards__item__body__price__span {
  margin-right: 3px;
  font-size: 1rem;
}

.main__cards__item__body__rating {
  font-size: 1.2rem;
  color: #9e9e9e;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__cards__item__body__rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .5rem;
}

.main__cards__item__body__rating__stars img {
  width: 100%;
  display: block;
  max-width: 12px;
  height: auto;
  margin-right: .5rem;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.main__header__title {
  font-size: 2.5rem;
  color: #2c2c3a;
  font-weight: 600;
}

.main__header__sort {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #acadbd;
  font-weight: 500;
}

.main__header__sort img {
  display: block;
  max-width: 10px;
  height: auto;
  width: 100%;
  margin-left: 0.5rem;
  margin-top: 2px;
}

.main__types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.main__types__item {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main__types__item.active {
  color: #3e46aa;
  -webkit-box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.13);
          box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.13);
}

.main__types__item__img {
  max-width: 35px;
  height: auto;
  display: block;
  margin-right: 0.5rem;
}

.main__types__item__img--watch {
  max-width: 25px;
}

.main__types__item__img--backpack {
  max-width: 21.5px;
}

.main__product {
  width: 100%;
  height: 380px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__product__carusel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main__product__carusel__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
}

.main__product__carusel__transform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main__product__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 285px;
  height: 285px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-left: 1px solid #e4cab9;
  border-right: 1px solid #e4cab9;
  border-radius: 50%;
}

.main__product__circle--second {
  width: 350px;
  height: 350px;
}

.main__product__bg {
  z-index: 10;
  width: 220px;
  height: 220px;
  background-color: #f9dccb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__product__background {
  z-index: 20;
  width: 150px;
  height: 150px;
  background-color: #fdeade;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__product__background__photo {
  position: relative;
}

.main__product__background__photo img {
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  width: 150%;
  display: block;
  height: auto;
}

.main__product__discount {
  position: relative;
  z-index: 100;
  background-color: #fff;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3.5rem;
  border-radius: 50%;
}

.main__product__discount__item {
  width: 38px;
  padding: .4rem 1rem;
  font-weight: 600;
  margin: 0 auto;
  border-radius: .6rem;
  font-size: 1.1rem;
  background-color: #a3def8;
}

.main__product__dots {
  position: relative;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding-top: 5rem;
  border-radius: 50%;
}

.main__product__dots__item {
  width: 7px;
  height: 7px;
  background-color: #9fdaf4;
  margin-right: 3px;
  border-radius: 50%;
  opacity: 0.3;
}

.main__product__dots__item.active {
  opacity: 1;
  width: 27px;
  border-radius: 10px;
}

.info {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f7f7f7;
  padding-bottom: 14rem;
}

.info__head {
  width: 100%;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.info__head__title {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #424881;
}

.info__head__rating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  font-size: 1.4rem;
}

.info__head__rating__img {
  max-width: 17px;
  margin-right: 4px;
  display: block;
  height: auto;
}

.info__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #5f648a;
  margin-bottom: 3rem;
}

.info__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.info__size__text {
  color: #9e9e9e;
  font-size: 1.4rem;
  font-size: 500;
  margin-right: 2rem;
}

.info__size__item {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.3rem;
  background-color: #f7f7f7;
  margin-right: 2rem;
  border-radius: 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.info__size__item.active {
  background-color: #a1dbf5;
}

.info__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__color__text {
  color: #9e9e9e;
  font-size: 1.4rem;
  font-size: 500;
  margin-right: 2rem;
}

.info__color__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.info__color__item--yellow.active {
  border: 1px solid #fdd446;
}

.info__color__item--red.active {
  border: 1px solid #f6565d;
}

.info__color__item--pink.active {
  border: 1px solid #f9a1da;
}

.info__color__item--blue.active {
  border: 1px solid #6ea2ff;
}

.info__color__item__body {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.info__color__item__body--yellow {
  background-color: #fdd446;
}

.info__color__item__body--red {
  background-color: #f6565d;
}

.info__color__item__body--pink {
  background-color: #f9a1da;
}

.info__color__item__body--blue {
  background-color: #6ea2ff;
}

.footer {
  z-index: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer.item .footer__inner {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__inner {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.footer__left {
  width: 100%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left__price {
  display: block;
  color: #151728;
  font-size: 2.6rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__left__price__span {
  margin-top: .5rem;
  margin-right: 3px;
  font-size: 1.2rem;
}

.footer__left__icon {
  max-width: 25px;
}

.footer__left__icon.active svg path,
.footer__left__icon.active svg circle {
  fill: #3e46aa;
}

.footer__left__icon__svg {
  display: block;
  width: 100%;
  height: auto;
}

.footer__left__icon__svg__fill {
  fill: #ccc;
}

.footer__right {
  width: 100%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__right--btn {
  max-width: 40%;
}

.footer__right__button__item {
  color: #3e46aa;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.5rem;
  border-radius: 2rem;
  background-color: #f7f7f7;
  border: none;
  outline: none;
}

.footer__right__button__item svg {
  display: block;
  width: 100%;
  height: auto;
  max-width: 15px;
  margin-right: 5px;
}

.footer__right__icon {
  max-width: 25px;
}

.footer__right__icon__svg {
  display: block;
  width: 100%;
  height: auto;
}

.footer__right__icon__svg__fill {
  fill: #ccc;
}

.footer__cart {
  position: absolute;
  z-index: 1;
  top: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7f7f7;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__cart__item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3e46aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__cart__item img {
  display: block;
  max-width: 25px;
  height: auto;
}

.footer__cart__counter {
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f7545c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__cart__counter__item {
  font-size: 1.4rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */